body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

.section {
    padding: 30px 50px;
}
.container {
    margin: 0 auto;
    max-width: 1000px;
}
.text-center {
    text-align: center;
}

.product-list {
    display: table;
    margin: 0 auto;
}

.pagination .pagination-btn {
    margin: 0px 3px;
}
.pagination .active {
    background-color: blanchedalmond;
}
